
.common-cotent-container {
    padding: 5px 20px;
    height: 100%;
    background: var(--content-container-bg-light);
}

.common-save-btn {
    background-color: #157a3d;
}


.common-cancel-btn {
    background-color: var( --cancel-btn-bg-light);
    color:  var(  --cancel-btn-color-light);
    border: '1px solid rgba(0, 0, 0, 0.23)'
}

.common-btn-color {
    background-color: #157a3d;
}


@media (min-height: 900px) {
    .common-cotent-container {
        min-height: 740px /* Adjust maximum height for smaller screens */;
        height: 100%;
    }
}

@media (max-height: 900px) {
    .common-cotent-container {
        min-height: 640px /* Adjust maximum height for smaller screens */;
       
    }
}

